.edit-button{
    margin-right: 10%;
    cursor: pointer;
}

.edit-button:hover{
    color: white;
}

.delete-button{
    cursor: pointer;
}

.delete-button:hover{
    color: red;
}

.map-name{
    margin-left: 30%;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

.map-name:hover{
    color: blue;
}

.map-entry{
    margin-top: 2%;
    margin-bottom: 4%;
}

.map-name-input{
    margin-left: 30%;
    color: black !important;
    font-size: 1rem;
    height: stretch;
    width: stretch;
    background-color: transparent;
}