#map-spreadsheet{
    text-align: center;
    margin: 0 auto;
    width: 80%;
    margin-top: 3%;
}

#regionName{
    margin-bottom: 2%;
}

.table-heading{
    font-size: 1.5rem;
    border: solid 1px black;
    height: 50px;
    background-color: lightgray;
}

#controls{
    margin-bottom: 5%;
    text-align: left;
}

#controls button{
    margin-right: 2%;
}

#nameOfRegion{
    color: lightblue;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

#nameOfRegion:hover{
    color: darkblue;
}

.marginTop{
    margin-top: 2.3%;
}

.marginTop2{
    margin-top: 1.4%;
}

.whiteColor{ 
    color: white;
    font-size: 2rem;
    margin-right: 0.5%;
}

.sort-header:hover{
    color: green;
    cursor: pointer;
}