.tableEntry{
    border: 1px solid black;
    color: #ffffff;
    height: 40px;
    background-color: lightgray;
    justify-content: center;
}

.subregion-name{
    color: darkblue;
    font-size: 1.25rem;
}

.capital-name{
    color: black;
    font-size: 1.1rem;
}

.leader-name{
    color: black;
    font-size: 1.1rem;
}

.flag{
    color: black;
    font-size: 1.1rem;
}

.landmarks{
    color: black;
    font-size: 1.1rem;
}

.entry-name{
    margin-top: 2%;
}

.region-name{
    margin-right: 8%;
}

.region-name:hover{
    color: yellow;
}

.deleteButton{
    background-color: transparent;
    color: red;
    border: none;
    margin-bottom: 2%;
    cursor: pointer;
}

.deleteButton:hover{
    color: white;
    background-color: red;
}

.name-input{
    width: fit-content;
    margin-left: 20%;
    margin-top: 1%;
    outline: none;
    background-color: transparent;
}

.first-landmark{
    margin-top: 1.2%;
    cursor: pointer;
}