.tableEntry{
    border: 1px solid black;
    color: #ffffff;
    height: 40px;
    background-color: lightgray;
    justify-content: center;
}

.subregion-name{
    color: darkblue;
    font-size: 1.25rem;
}

.capital-name{
    color: black;
    font-size: 1.1rem;
}

.leader-name{
    color: black;
    font-size: 1.1rem;
}

.flag{
    color: black;
    font-size: 1.1rem;
}

.landmarks{
    color: black;
    font-size: 1.1rem;
}

.entry-name{
    margin-top: 2%;
}

.region-name:hover{
    color: yellow;
}

