.region-viewer{
    text-align: center;
    margin: 0 auto;
    width: 50%;
    margin-top: 3%;
}

.region-viewer-title{
    font-size: 1.5rem;
    margin-right: 5%;
    margin-left: 11%;
}

.region-data-titles{
    text-align: left;
    color: white;
    font-weight: bold;
}

.region-data-titles div{
    margin-bottom: 5%;
}

.region-data{
    font-size: 1.5rem;
    color: white;
}

#parent-region-style{
    color: lightblue;
}

.region-name{
    cursor: pointer;
}

#controls{
    margin-bottom: 5%;
    text-align: left;
}

#landmark-list{
    color: white;
    height: 800px;
    border: solid 1px black;
    background-color: black;
}

#region-landmark-title{
    color: white;
}

.landmark-input{
    width: stretch;
}

.landmark-input-col{
    height: stretch;
}

.landmark-input-col input {
    height: stretch;
}

.add-landmark-button{
    text-align: center;
    width: stretch;
    color: darkgreen;
}

.edit-parent-region{
    margin-left: 3%;
    cursor: pointer;
}

.change-parent-region-input{
    margin-left: 10%;
    height: stretch;
    width: 60%;
}
