#welcome{
    position:absolute;
    font-size: 85px;
    height:20%;
    bottom:10%;
    right:30%;
    left:30%;
    text-align: center;
    color: white;
}

#globe-pic{
    margin-bottom: 0;
    margin-top: 5%;
    height: 700px;
    width: 700px;
}