#map-contents{
    text-align: center;
    margin: 0 auto;
    margin-top: 4%;
    border: solid 1px black;
    width: 40%;
}

img{
    margin-top: 5%;
    width: 500px;
    height: 500px;
    margin-bottom: 15%;
}

.map-list-col{
    border-left: solid 1px black;
    border-top: solid 1px black;
}

#add-map-button{
    margin-bottom: 4%;
}
