#map-contents{
    text-align: center;
    margin: 0 auto;
    margin-top: 4%;
    border: solid 1px black;
    width: 40%;
}

img{
    margin-top: 5%;
    width: 500px;
    height: 500px;
    margin-bottom: 8%;
}

.map-list-col{
    border-left: solid 1px black;
    border-top: solid 1px black;
}

#add-map-button{
    margin-bottom: 4%;
    background-color: red;
    text-align: center;
    margin: 0 auto;
    width: fill;
}

#map-header{
    background-color: black;
}

#map-header-title{
    color: white;
}

#map-list-col-left{
    background-color: lightpink;
}

#map-list-col-right{
    background-color: white;
}

#add-map-button-text{
    text-align: center;
    margin: auto 0;
    color: white;
    width: fill;
}